# Dependencies
node_modules
packages/*/node_modules
.pnpm-store

# Build output
dist
packages/*/dist
.svelte-kit
packages/service/static

# TypeScript metadata
tsconfig.tsbuildinfo
packages/*/tsconfig.tsbuildinfo

# Environment & secrets
.env
.env.*
!*.example

# Logs & coverage
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
coverage

# Editor & OS cruft
.DS_Store
.idea
.vscode/*
!.vscode/settings.json

packages/ui/vite.config.ts.timestamp-*.mjs
verification/

packages/core/config/frontend-setting.json
packages/core/config/log_sharing.json
packages/core/config/sim_commax.homenet_bridge.yaml
deploy/.configs/
.logs/
.vscode/
packages/simulator/src/packets_from_userdata.ts
.turbo/
deploy/docker/h2m-config/
