node_modules
packages/*/node_modules
dist
packages/*/dist
packages/service/static
build
coverage
.svelte-kit
*.log
logs
pnpm-lock.yaml
packages/core/config/frontend-setting.json
packages/core/config/log_sharing.json
packages/core/config/sim_commax.homenet_bridge.yaml
