homenet_bridge:
  serial:
    portId: hyundai_imazu
    path: 192.168.0.83:8888
    baud_rate: 9600
    data_bits: 8
    parity: NONE
    stop_bits: 1

  packet_defaults: # New section for global packet defaults
    rx_timeout: 10ms
    tx_delay: 10ms
    tx_timeout: 200ms
    tx_retry_cnt: 5

    rx_header: [0xf7]
    rx_footer: [0xee]
    tx_header: [0xf7]
    tx_footer: [0xee]

    rx_checksum: xor
    tx_checksum: xor

  sensor:
    - name: 'Room 1 Plug 1 Power'
      id: 'room_1_plug_1_power'
      unit_of_measurement: 'W'
      state:
        data: [0x12, 0x01, 0x1f, 0x04, 0x40, 0x11]
      state_number:
        offset: 9
        length: 2
        precision: 0

    - name: 'Room 1 Plug 2 Power'
      id: 'room_1_plug_2_power'
      unit_of_measurement: 'W'
      state:
        data: [0x12, 0x01, 0x1f, 0x04, 0x40, 0x12]
      state_number:
        offset: 9
        length: 2
        precision: 0

  switch:
    - name: 'Room 1 Plug 1'
      id: 'room_1_plug_1'
      icon: 'mdi:power-socket-eu'
      state:
        data: [0x00, 0x01, 0x1f, 0x04, 0x40, 0x11]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 8
        data: [0x01]
      state_off:
        offset: 8
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x11, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x11, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x11, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x11, 0x02, 0x02]

    - name: 'Room 1 Plug 2'
      id: 'room_1_plug_2'
      icon: 'mdi:power-socket-eu'
      state:
        data: [0x00, 0x01, 0x1f, 0x04, 0x40, 0x12]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 8
        data: [0x01]
      state_off:
        offset: 8
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x12, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x12, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x12, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x12, 0x02, 0x02]

  light:
    - name: 'Room 1 Light 1'
      id: 'room_1_light_1'
      state:
        data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x11]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 8
        data: [0x01]
      state_off:
        offset: 8
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x11, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x11, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x11, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x11, 0x02, 0x02]

    - name: 'Room 1 Light 2'
      id: 'room_1_light_2'
      state:
        data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x12]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 8
        data: [0x01]
      state_off:
        offset: 8
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x12, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x12, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x12, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x12, 0x02, 0x02]

    - name: 'Room 2 Light 1'
      id: 'room_2_light_1'
      state:
        data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x21]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 8
        data: [0x01]
      state_off:
        offset: 8
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x21, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x21, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x21, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x21, 0x02, 0x02]

  fan:
    - name: 'Room 1 Fan 1'
      id: 'room_1_fan_1'
      state:
        data: [0x00, 0x01, 0x2b, 0x04, 0x40, 0x11]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 8
        data: [0x01]
      state_off:
        offset: 8
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x2b, 0x02, 0x40, 0x11, 0x01, 0x00]
        ack: [0x0c, 0x01, 0x2b, 0x04, 0x40, 0x11, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x2b, 0x02, 0x40, 0x11, 0x02, 0x00]
        ack: [0x0c, 0x01, 0x2b, 0x04, 0x40, 0x11, 0x02, 0x02, 0x00]
      # 0-100% -> 1-3단계 변환: 0-33->1(약), 34-66->2(중), 67-100->3(강)
      # 0% 속도는 command_off로 처리됨
      command_speed: >-
        x <= 33 ? [[0x0b, 0x01, 0x2b, 0x02, 0x42, 0x11, 0x01, 0x00], [0x0c, 0x01, 0x2b, 0x04]] :
        (x <= 66 ? [[0x0b, 0x01, 0x2b, 0x02, 0x42, 0x11, 0x03, 0x00], [0x0c, 0x01, 0x2b, 0x04]] :
        [[0x0b, 0x01, 0x2b, 0x02, 0x42, 0x11, 0x07, 0x00], [0x0c, 0x01, 0x2b, 0x04]])
      # 장치 속도 0x01/0x03/0x07 -> 1/2/3단계 -> 33/66/100% 변환
      state_speed: >-
        data[8] == 0x01 ? 33 : (data[8] == 0x03 ? 66 : (data[8] == 0x07 ? 100 : 0))

  climate:
    - name: 'Heater 1'
      id: 'heater_1'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0x00, 0x01, 0x18, 0x04, 0x45, 0x11]
        mask: [0x00, 0xff, 0xff, 0xff, 0xfc, 0xff]
      state_temperature_current:
        offset: 9
        length: 1
        precision: 0
      state_temperature_target:
        offset: 10
        length: 1
        precision: 0
      state_off:
        offset: 8
        data: [0x04]
      state_heat:
        offset: 8
        data: [0x01]
      state_preset_away:
        offset: 8
        data: [0x07]
      state_preset_none:
        offset: 8
        data: [0x07]
        inverted: True
      command_off:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x04, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x04, 0x04]
      command_heat:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x01, 0x01]
      command_preset_away:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x07, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x07, 0x07]
      command_preset_none:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x01, 0x01]
      command_temperature: >-
        [[0x0B, 0x01, 0x18, 0x02, 0x45, 0x11, x, 0x00],[0x0D, 0x01, 0x18, 0x04, 0x45, 0x11, x, 0x01]]
