homenet_bridge:
  serial:
    portId: hyundai_imazu
    path: 192.168.0.83:8888
    baud_rate: 9600
    data_bits: 8
    parity: NONE
    stop_bits: 1

  packet_defaults: # New section for global packet defaults
    rx_timeout: 10ms
    tx_delay: 50ms
    tx_timeout: 500ms
    tx_retry_cnt: 3

    rx_header: [0xf7]
    rx_footer: [0xee]
    tx_header: [0xf7]
    tx_footer: [0xee]

    rx_checksum: xor
    tx_checksum: xor

  sensor:
    - name: 'Room 1 Plug 1 Power'
      unit_of_measurement: 'W'
      state:
        data: [0x12, 0x01, 0x1f, 0x04, 0x40, 0x11]
      state_number:
        offset: 8
        length: 2
        precision: 0

    - name: 'Room 1 Plug 2 Power'
      unit_of_measurement: 'W'
      state:
        data: [0x12, 0x01, 0x1f, 0x04, 0x40, 0x12]
      state_number:
        offset: 8
        length: 2
        precision: 0

    - name: 'Room 2 Plug 1 Power'
      unit_of_measurement: 'W'
      state:
        data: [0x12, 0x01, 0x1f, 0x04, 0x40, 0x21]
      state_number:
        offset: 8
        length: 2
        precision: 0

    - name: 'Room 2 Plug 2 Power'
      unit_of_measurement: 'W'
      state:
        data: [0x12, 0x01, 0x1f, 0x04, 0x40, 0x22]
      state_number:
        offset: 8
        length: 2
        precision: 0

  switch:
    - name: 'Room 1 Plug 1'
      icon: 'mdi:power-socket-eu'
      state:
        data: [0x00, 0x01, 0x1f, 0x04, 0x40, 0x11]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x11, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x11, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x11, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x11, 0x02, 0x02]

    - name: 'Room 1 Plug 2'
      icon: 'mdi:power-socket-eu'
      state:
        data: [0x00, 0x01, 0x1f, 0x04, 0x40, 0x12]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x12, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x12, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x12, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x12, 0x02, 0x02]

    - name: 'Room 2 Plug 1'
      icon: 'mdi:power-socket-eu'
      state:
        data: [0x00, 0x01, 0x1F, 0x04, 0x40, 0x21]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x21, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x21, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x21, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x21, 0x02, 0x02]

    - name: 'Room 2 Plug 2'
      icon: 'mdi:power-socket-eu'
      state:
        data: [0x00, 0x01, 0x1F, 0x04, 0x40, 0x22]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x22, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x22, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x22, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x22, 0x02, 0x02]

  light:
    - name: 'Room 1 Light 1'
      state:
        data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x11]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x11, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x11, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x11, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x11, 0x02, 0x02]

    - name: 'Room 1 Light 2'
      state:
        data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x12]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x12, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x12, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x12, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x12, 0x02, 0x02]

    - name: 'Room 1 Light 3'
      state:
        data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x13]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x13, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x13, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x13, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x13, 0x02, 0x02]

    - name: 'Room 1 Light 4'
      state:
        data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x14]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x14, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x14, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x14, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x14, 0x02, 0x02]

    - name: 'Room 2 Light 1'
      state:
        data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x21]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x21, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x21, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x21, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x21, 0x02, 0x02]

    - name: 'Room 2 Light 2'
      state:
        data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x22]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x22, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x22, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x22, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x22, 0x02, 0x02]

    - name: 'Room 2 Light 3'
      state:
        data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x23]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x23, 0x01, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x23, 0x01, 0x01]
      command_off:
        data: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x23, 0x02, 0x00]
        ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x23, 0x02, 0x02]

  fan:
    - name: 'Room 1 Fan 1'
      speed_cnt: 3
      state:
        data: [0x00, 0x01, 0x2b, 0x04, 0x40, 0x11]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_on:
        offset: 7
        data: [0x01]
      state_off:
        offset: 7
        data: [0x02]
      command_on:
        data: [0x0b, 0x01, 0x2b, 0x02, 0x40, 0x11, 0x01, 0x00]
        ack: [0x0c, 0x01, 0x2b, 0x04, 0x40, 0x11, 0x01, 0x01, 0x07]
      command_off:
        data: [0x0b, 0x01, 0x2b, 0x02, 0x40, 0x11, 0x02, 0x00]
        ack: [0x0c, 0x01, 0x2b, 0x04, 0x40, 0x11, 0x02, 0x02, 0x00]
      command_speed: !lambda |-
        var speed = x;
        if (speed == 3) return [[0x0b, 0x01, 0x2b, 0x02, 0x40, 0x11, 0x01, 0x00], [0x0c, 0x01, 0x2b, 0x04, 0x40, 0x11, 0x01, 0x01, 0x07]];
        if (speed == 2) return [[0x0b, 0x01, 0x2b, 0x02, 0x42, 0x11, 0x03, 0x00], [0x0c, 0x01, 0x2b, 0x04, 0x40, 0x11, 0x01, 0x01, 0x03]];
        if (speed == 1) return [[0x0b, 0x01, 0x2b, 0x02, 0x42, 0x11, 0x01, 0x00], [0x0c, 0x01, 0x2b, 0x04, 0x40, 0x11, 0x01, 0x01, 0x01]];
        return [];
      state_speed: !lambda |-
        if (data[8] === 0x01) return 1;
        if (data[8] === 0x03) return 2;
        if (data[8] === 0x07) return 3;
        return 0;

  climate:
    - name: 'Room 1 Heater 1'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0x00, 0x01, 0x18, 0x04, 0x45, 0x11]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 8
        length: 1
        precision: 0
      state_temperature_target:
        offset: 9
        length: 1
        precision: 0
      state_off:
        offset: 7
        data: [0x04]
      state_heat:
        offset: 7
        data: [0x01]
      state_preset_away:
        offset: 7
        data: [0x07]
      state_preset_none:
        offset: 7
        data: [0x07]
        inverted: True
      command_off:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x04, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x04, 0x04]
      command_heat:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x01, 0x01]
      command_preset_away:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x07, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x07, 0x07]
      command_preset_none:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x01, 0x01]
      command_temperature: !lambda |-
        const target = x;
        return [[0x0B, 0x01, 0x18, 0x02, 0x45, 0x11, target, 0x00],[0x0D, 0x01, 0x18, 0x04, 0x45, 0x11, target, 0x01]];

    - name: 'Room 1 Heater 2'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0x00, 0x01, 0x18, 0x04, 0x45, 0x12]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 8
        length: 1
        precision: 0
      state_temperature_target:
        offset: 9
        length: 1
        precision: 0
      state_off:
        offset: 7
        data: [0x04]
      state_heat:
        offset: 7
        data: [0x01]
      state_preset_away:
        offset: 7
        data: [0x07]
      state_preset_none:
        offset: 7
        data: [0x07]
        inverted: True
      command_off:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x12, 0x04, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x12, 0x04, 0x04]
      command_heat:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x12, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x12, 0x01, 0x01]
      command_preset_away:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x12, 0x07, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x12, 0x07, 0x07]
      command_preset_none:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x12, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x12, 0x01, 0x01]
      command_temperature: !lambda |-
        const target = x;
        return [[0x0B, 0x01, 0x18, 0x02, 0x45, 0x12, target, 0x00],[0x0D, 0x01, 0x18, 0x04, 0x45, 0x12, target, 0x01]];

    - name: 'Room 1 Heater 3'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0x00, 0x01, 0x18, 0x04, 0x45, 0x13]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 8
        length: 1
        precision: 0
      state_temperature_target:
        offset: 9
        length: 1
        precision: 0
      state_off:
        offset: 7
        data: [0x04]
      state_heat:
        offset: 7
        data: [0x01]
      state_preset_away:
        offset: 7
        data: [0x07]
      state_preset_none:
        offset: 7
        data: [0x07]
        inverted: True
      command_off:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x13, 0x04, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x13, 0x04, 0x04]
      command_heat:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x13, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x13, 0x01, 0x01]
      command_preset_away:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x13, 0x07, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x13, 0x07, 0x07]
      command_preset_none:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x13, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x13, 0x01, 0x01]
      command_temperature: !lambda |-
        const target = x;
        return [[0x0B, 0x01, 0x18, 0x02, 0x45, 0x13, target, 0x00],[0x0D, 0x01, 0x18, 0x04, 0x45, 0x13, target, 0x01]];

    - name: 'Room 1 Heater 4'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0x00, 0x01, 0x18, 0x04, 0x45, 0x14]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 8
        length: 1
        precision: 0
      state_temperature_target:
        offset: 9
        length: 1
        precision: 0
      state_off:
        offset: 7
        data: [0x04]
      state_heat:
        offset: 7
        data: [0x01]
      state_preset_away:
        offset: 7
        data: [0x07]
      state_preset_none:
        offset: 7
        data: [0x07]
        inverted: True
      command_off:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x14, 0x04, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x14, 0x04, 0x04]
      command_heat:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x14, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x14, 0x01, 0x01]
      command_preset_away:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x14, 0x07, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x14, 0x07, 0x07]
      command_preset_none:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x14, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x14, 0x01, 0x01]
      command_temperature: !lambda |-
        const target = x;
        return [[0x0B, 0x01, 0x18, 0x02, 0x45, 0x14, target, 0x00],[0x0D, 0x01, 0x18, 0x04, 0x45, 0x14, target, 0x01]];

    - name: 'Room 1 Heater 5'
      visual:
        min_temperature: 18 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x00, 0x01, 0x18, 0x04, 0x45, 0x15]
        mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 8
        length: 1
        precision: 0
      state_temperature_target:
        offset: 9
        length: 1
        precision: 0
      state_off:
        offset: 7
        data: [0x04]
      state_heat:
        offset: 7
        data: [0x01]
      state_preset_away:
        offset: 7
        data: [0x07]
      state_preset_none:
        offset: 7
        data: [0x07]
        inverted: True
      command_off:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x15, 0x04, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x15, 0x04, 0x04]
      command_heat:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x15, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x15, 0x01, 0x01]
      command_preset_away:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x15, 0x07, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x15, 0x07, 0x07]
      command_preset_none:
        data: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x15, 0x01, 0x00]
        ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x15, 0x01, 0x01]
      command_temperature: !lambda |-
        const target = x;
        return [[0x0B, 0x01, 0x18, 0x02, 0x45, 0x15, target, 0x00],[0x0D, 0x01, 0x18, 0x04, 0x45, 0x15, target, 0x01]];
