homenet_bridge:
  serial:
    portId: kocom_main
    path: 192.168.0.83:8888
    baud_rate: 9600
    data_bits: 8
    parity: NONE
    stop_bits: 1

  packet_defaults: # New section for global packet defaults
    rx_timeout: 10ms
    tx_delay: 10ms
    tx_timeout: 200ms
    tx_retry_cnt: 5

    rx_header: [0xAA, 0x55]
    rx_footer: [0x0D, 0x0D]
    tx_header: [0xAA, 0x55]
    tx_footer: [0x0D, 0x0D]

    rx_checksum: add_no_header
    tx_checksum: add_no_header

  light:
    - id: 'room_0_light_1'
      name: 'Room 0 Light 1'
      state:
        data: [0x30, 0xd0, 0x00, 0x0e, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_on:
        offset: 10
        data: [0xff]
      state_off:
        offset: 10
        data: [0x00]
      command_on: >-
        [[0x30, 0xbc, 0x00, 0x0e, 0x00, 0x01, 0x00, 0x00, 0xff, states['room_0_light_2']['state'] == 'ON' ? 0xff : 0x00, 0, 0, 0, 0, 0, 0], [0x30, 0xdc]]
      command_off: >-
        [[0x30, 0xbc, 0x00, 0x0e, 0x00, 0x01, 0x00, 0x00, 0x00, states['room_0_light_2']['state'] == 'ON' ? 0xff : 0x00, 0, 0, 0, 0, 0, 0], [0x30, 0xdc]]

    - id: 'room_0_light_2'
      name: 'Room 0 Light 2'
      state:
        data: [0x30, 0xd0, 0x00, 0x0e, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_on:
        offset: 11
        data: [0xff]
      state_off:
        offset: 11
        data: [0x00]
      command_on: >-
        [[0x30, 0xbc, 0x00, 0x0e, 0x00, 0x01, 0x00, 0x00, states['room_0_light_1']['state'] == 'ON' ? 0xff : 0x00, 0xff, 0, 0, 0, 0, 0, 0], [0x30, 0xdc]]
      command_off: >-
        [[0x30, 0xbc, 0x00, 0x0e, 0x00, 0x01, 0x00, 0x00, states['room_0_light_1']['state'] == 'ON' ? 0xff : 0x00, 0x00, 0, 0, 0, 0, 0, 0], [0x30, 0xdc]]

  climate:
    - id: 'room_0_heater'
      name: 'Room 0 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 14
        length: 1
        precision: 0
      state_temperature_target:
        offset: 12
        length: 1
        precision: 0
      state_off:
        offset: 10
        data: [0x00]
        mask: [0xF0]
      state_heat:
        offset: 10
        data: [0x10]
        mask: [0xF0]
      command_off: >-

        [[0x30, 0xbc, 0x00, 0x36, 0x00, 0x01, 0x00, 0x00, 0x01, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00], [0x30, 0xdc]]
      command_heat: >-

        [[0x30, 0xbc, 0x00, 0x36, 0x00, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00], [0x30, 0xdc]]
      command_temperature: >-

        [[0x30, 0xbc, 0x00, 0x36, 0x00, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00], [0x30, 0xdc]]

  valve:
    - name: 'Gas Valve'
      id: 'gas_valve'
      state:
        data: [0x30, 0xd0, 0x00, 0x2c, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_open:
        offset: 9
        data: [0x01]
      state_closed:
        offset: 9
        data: [0x02]
      command_close:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x2c,
            0x00,
            0x02,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc]

  sensor:
    - name: 'Elevator Floors'
      id: 'elevator_floors'
      icon: 'mdi:elevator'
      unit_of_measurement: '층'
      state:
        data: [0x30, 0xd0, 0x00, 0x01, 0x00, 0x44, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_number:
        offset: 11

    - name: 'Elevator Direction'
      id: 'elevator_direction'
      icon: 'mdi:elevator'
      state:
        data: [0x30, 0xd0, 0x00, 0x01, 0x00, 0x44, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff, 0xff, 0xff]
      state_number:
        offset: 10
        mapping:
          0: '정지'
          1: '하강'
          2: '상승'
          3: '도착'

  button:
    - name: 'Elevator Call'
      id: 'elevator_call'
      icon: 'mdi:elevator'
      command_press:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x01,
            0x00,
            0x44,
            0x00,
            0x01,
            0x03,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc]
      discovery_linked_id: 'elevator_floors'
