homenet_bridge:
  serial:
    portId: kocom_doorbell
    path: 192.168.0.83:8888
    baud_rate: 9600
    data_bits: 8
    parity: NONE
    stop_bits: 1

  packet_defaults: # New section for global packet defaults
    rx_timeout: 10ms
    tx_delay: 10ms
    tx_timeout: 200ms
    tx_retry_cnt: 5

    rx_header: [0xAA, 0x55]
    rx_footer: [0x0D, 0x0D]
    tx_header: [0xAA, 0x55]
    tx_footer: [0x0D, 0x0D]

    rx_checksum: none # footer가 있어서 필요 없음.
    tx_checksum2: crc_ccitt_xmodem

  # 벨 울림 감지 (개인현관)
  # 패킷 예시:
  # ON:  0xAA 0x55 0x7A 0x9E 0x02 0x02 0x00 0xFF 0xFF 0xFF 0xFF 0x31 0xFF 0xFF 0xFF 0x01 0x01 0x29 0xF6 0x0D 0x0D
  # OFF: 0xAA 0x55 0x7A 0x9E 0x02 0x02 0x00 0xFF 0xFF 0xFF 0xFF 0x31 0xFF 0xFF 0xFF 0x02 0x00 0x6C 0x84 0x0D 0x0D
  binary_sensor:
    - id: 'doorbell_private'
      name: '현관벨'
      icon: 'mdi:bell-ring'
      state:
        data: [0x70, 0x90, 0x02, 0x02]
        mask: [0xF0, 0xF0, 0xFF, 0xFF]
      state_on:
        offset: 15
        data: [0x01]
      state_off:
        offset: 15
        data: [0x02]

    # 벨 울림 감지 (공동현관)
    # 패킷 예시:
    # ON:  0xAA 0x55 0x7A 0x9E 0x02 0x08 0x00 0xFF 0xFF 0xFF 0xFF 0xFF 0xFF 0xFF 0xFF 0x01 0x01 0x0A 0x27 0x0D 0x0D
    # OFF: 0xAA 0x55 0x7A 0x9E 0x02 0x08 0x00 0xFF 0xFF 0xFF 0xFF 0xFF 0xFF 0xFF 0xFF 0x02 0x00 0x4F 0x55 0x0D 0x0D
    - id: 'doorbell_common'
      name: '공동현관벨'
      icon: 'mdi:bell-ring'
      state:
        data: [0x70, 0x90, 0x02, 0x08]
        mask: [0xF0, 0xF0, 0xFF, 0xFF]
      state_on:
        offset: 15
        data: [0x01]
      state_off:
        offset: 15
        data: [0x02]

  # 문열기 버튼
  button:
    - id: 'doorbell_call_common'
      name: '공동현관 통화'
      icon: 'mdi:phone'
      command_press:
        data: [0x79, 0xBC, 0x08, 0x02, 0x00, 0xFF, 0xFF, 0xFF, 0xFF, 0x61, 0xFF, 0xFF, 0xFF, 0x03, 0x00]
        ack:
          data: [0x0F, 0x03]

    - id: 'doorbell_open_common'
      name: '공동현관 열기'
      icon: 'mdi:door-sliding-open'
      command_press:
        data: [0x79, 0xBC, 0x08, 0x02, 0x00, 0xFF, 0xFF, 0xFF, 0xFF, 0x61, 0xFF, 0xFF, 0xFF, 0x24, 0x00]
        ack:
          data: [0x0F, 0x24]

    - id: 'doorbell_call_private'
      name: '현관 통화'
      icon: 'mdi:phone'
      command_press:
        data: [0x79, 0xBC, 0x02, 0x02, 0x00, 0x31, 0xFF, 0xFF, 0xFF, 0x61, 0xFF, 0xFF, 0xFF, 0x03, 0x00]
        ack:
          data: [0x0F, 0x03]

    - id: 'doorbell_open_private'
      name: '현관 열기'
      icon: 'mdi:door-sliding-open'
      command_press:
        data: [0x79, 0xBC, 0x02, 0x02, 0x00, 0x31, 0xFF, 0xFF, 0xFF, 0x61, 0xFF, 0xFF, 0xFF, 0x24, 0x00]
        ack:
          data: [0x0F, 0x24]