homenet_bridge:
  serial:
    portId: samsung_sds_door
    path: 192.168.0.83:8888
    baud_rate: 9600
    data_bits: 8
    parity: EVEN
    stop_bits: 1

  packet_defaults:
    rx_timeout: 10ms
    tx_delay: 0ms
    tx_timeout: 500ms
    tx_retry_cnt: 3
    rx_header: [0xA4]
    rx_checksum: samsung_rx
    tx_checksum: samsung_tx

  binary_sensor:
    - name: 'Bell Private'
      icon: 'mdi:bell-ring'
      state:
        data: [0x30]
        mask: [0xF0]
      state_on:
        data: [0x31, 0x00]
      state_off:
        data: [0x3E, 0x01]
        mask: [0xFF, 0x01]

    - name: 'Bell Public'
      icon: 'mdi:bell-ring'
      state:
        data: [0x30]
        mask: [0xF0]
      state_on:
        data: [0x32, 0x00]
      state_off:
        data: [0x3E, 0x06]
        mask: [0xFF, 0x06]

  text_sensor:
    - name: 'Response'
      internal: True
      # FIXME: Complex side-effect logic (id(...).write_command) is not supported in CEL.
      # Logic disabled during migration.

  button:
    - name: 'Call Private'
      icon: 'mdi:phone'

    - name: 'Open Private'
      icon: 'mdi:door-sliding-open'

    - name: 'Call Public'
      icon: 'mdi:phone'

    - name: 'Open Public'
      icon: 'mdi:door-sliding-open'

  switch:
    - name: 'Auto Open Public'
      icon: 'mdi:door-open'

    - name: 'Auto Open Private'
      icon: 'mdi:door-open'
