homenet_bridge:
  serial:
    portId: samsung_sds
    path: 192.168.0.83:8888
    baud_rate: 9600
    data_bits: 8
    parity: EVEN
    stop_bits: 1

  packet_defaults:
    rx_timeout: 10ms
    tx_delay: 50ms
    tx_timeout: 500ms
    tx_retry_cnt: 3
    rx_header: [0xB0]
    rx_checksum: samsung_rx
    tx_checksum: samsung_tx

  button:
    - name: 'Gas Valve Close'
      icon: 'mdi:gas-burner'
      command_on:
        data: [0xAB, 0x78, 0x00]
        ack: [0x78]

  light:
    - name: 'Light 1'
      state:
        data: [0x79, 0x21]
      state_on:
        offset: 2
        data: [0x01]
        mask: [0x01]
      state_off:
        offset: 2
        data: [0x00]
        mask: [0x01]
      command_on:
        data: [0xAC, 0x7A, 0x01, 0x01]
        ack: [0x79, 0x01, 0x01]
      command_off:
        data: [0xAC, 0x7A, 0x01, 0x00]
        ack: [0x79, 0x01, 0x00]

    - name: 'Light 2'
      state:
        data: [0x79, 0x13]
      state_on:
        offset: 2
        data: [0x02]
        mask: [0x02]
      state_off:
        offset: 2
        data: [0x00]
        mask: [0x02]
      command_on:
        data: [0xAC, 0x7A, 0x03, 0x01]
        ack: [0x79, 0x03, 0x01]
      command_off:
        data: [0xAC, 0x7A, 0x03, 0x00]
        ack: [0x79, 0x03, 0x00]

    - name: 'Light 3'
      state:
        data: [0x79, 0x14]
      state_on:
        offset: 2
        data: [0x01]
        mask: [0x01]
      state_off:
        offset: 2
        data: [0x00]
        mask: [0x01]
      command_on:
        data: [0xAC, 0x7A, 0x04, 0x01]
        ack: [0x79, 0x04, 0x01]
      command_off:
        data: [0xAC, 0x7A, 0x04, 0x00]
        ack: [0x79, 0x04, 0x00]

    - name: 'Light 4'
      state:
        data: [0x79, 0x15]
      state_on:
        offset: 2
        data: [0x01]
        mask: [0x01]
      state_off:
        offset: 2
        data: [0x00]
        mask: [0x01]
      command_on:
        data: [0xAC, 0x7A, 0x05, 0x01]
        ack: [0x79, 0x05, 0x01]
      command_off:
        data: [0xAC, 0x7A, 0x05, 0x00]
        ack: [0x79, 0x05, 0x00]

  climate:
    - name: 'Room 0 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0x7C, 0x01]
      state_temperature_current:
        offset: 4
        length: 1
      state_temperature_target:
        offset: 3
        length: 1
      state_off:
        offset: 2
        data: [0x00]
        mask: [0x01]
      state_heat:
        offset: 2
        data: [0x01]
        mask: [0x01]
      command_off:
        data: [0xAE, 0x7D, 0x01, 0x00, 0x00, 0x00, 0x00]
        ack: [0x7D, 0x01, 0x00]
      command_heat:
        data: [0xAE, 0x7D, 0x01, 0x01, 0x00, 0x00, 0x00]
        ack: [0x7D, 0x01, 0x01]
      command_temperature: !lambda |-
        const target = x;
        return [[0xAE, 0x7F, 0x01, target, 0x00, 0x00, 0x00],[0x7F, 0x01, target]];
      state_action: !lambda |-
        if (data[3] === 0x00) return 'off';
        const target = data[4];
        const current = data[5];
        if (target > current) return 'heating';
        return 'idle';

    - name: 'Room 1 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0x7C, 0x02]
      state_temperature_current:
        offset: 4
        length: 1
      state_temperature_target:
        offset: 3
        length: 1
      state_off:
        offset: 2
        data: [0x00]
        mask: [0x01]
      state_heat:
        offset: 2
        data: [0x01]
        mask: [0x01]
      command_off:
        data: [0xAE, 0x7D, 0x02, 0x00, 0x00, 0x00, 0x00]
        ack: [0x7D, 0x02, 0x00]
      command_heat:
        data: [0xAE, 0x7D, 0x02, 0x01, 0x00, 0x00, 0x00]
        ack: [0x7D, 0x02, 0x01]
      command_temperature: !lambda |-
        const target = x;
        return [[0xAE, 0x7F, 0x02, target, 0x00, 0x00, 0x00],[0x7F, 0x02, target]];
      state_action: !lambda |-
        if (data[3] === 0x00) return 'off';
        const target = data[4];
        const current = data[5];
        if (target > current) return 'heating';
        return 'idle';

    - name: 'Room 2 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0x7C, 0x03]
      state_temperature_current:
        offset: 4
        length: 1
      state_temperature_target:
        offset: 3
        length: 1
      state_off:
        offset: 2
        data: [0x00]
        mask: [0x01]
      state_heat:
        offset: 2
        data: [0x01]
        mask: [0x01]
      command_off:
        data: [0xAE, 0x7D, 0x03, 0x00, 0x00, 0x00, 0x00]
        ack: [0x7D, 0x03, 0x00]
      command_heat:
        data: [0xAE, 0x7D, 0x03, 0x01, 0x00, 0x00, 0x00]
        ack: [0x7D, 0x03, 0x01]
      command_temperature: !lambda |-
        const target = x;
        return [[0xAE, 0x7F, 0x03, target, 0x00, 0x00, 0x00],[0x7F, 0x03, target]];
      state_action: !lambda |-
        if (data[3] === 0x00) return 'off';
        const target = data[4];
        const current = data[5];
        if (target > current) return 'heating';
        return 'idle';

    - name: 'Room 3 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0x7C, 0x04]
      state_temperature_current:
        offset: 4
        length: 1
      state_temperature_target:
        offset: 3
        length: 1
      state_off:
        offset: 2
        data: [0x00]
        mask: [0x01]
      state_heat:
        offset: 2
        data: [0x01]
        mask: [0x01]
      command_off:
        data: [0xAE, 0x7D, 0x04, 0x00, 0x00, 0x00, 0x00]
        ack: [0x7D, 0x04, 0x00]
      command_heat:
        data: [0xAE, 0x7D, 0x04, 0x01, 0x00, 0x00, 0x00]
        ack: [0x7D, 0x04, 0x01]
      command_temperature: !lambda |-
        const target = x;
        return [[0xAE, 0x7F, 0x04, target, 0x00, 0x00, 0x00],[0x7F, 0x04, target]];
      state_action: !lambda |-
        if (data[3] === 0x00) return 'off';
        const target = data[4];
        const current = data[5];
        if (target > current) return 'heating';
        return 'idle';

  fan:
    - name: 'Ventilator'
      state:
        data: [0x4E]
      state_on:
        offset: 3
        data: [0x00]
      state_off:
        offset: 3
        data: [0x01]
      state_speed: !lambda |-
        if (data[1] === 0x03) return 1;
        if (data[1] === 0x02) return 2;
        if (data[1] === 0x01) return 3;
        return 0;
      command_on:
        data: [0xC2, 0x4F, 0x05, 0x00, 0x00]
        ack: [0x4F, 0x05]
      command_off:
        data: [0xC2, 0x4F, 0x06, 0x00, 0x00]
        ack: [0x4F, 0x06]
      command_speed: !lambda |-
        const speed = 0x04 - x;
        return [[0xC2, 0x4F, speed, 0x00, 0x00],[0x4F, speed]];
