homenet_bridge:
  serial:
    portId: samsung_sds
    path: 192.168.0.83:8888
    baud_rate: 9600
    data_bits: 8
    parity: EVEN
    stop_bits: 1

  packet_defaults:
    rx_timeout: 10ms
    tx_delay: 50ms
    tx_timeout: 500ms
    tx_retry_cnt: 3
    rx_checksum: samsung_xor
    tx_checksum: samsung_xor
    rx_valid_headers: [0xB0, 0xAD, 0xCC, 0xA4]

  valve:
    - id: 'gas_valve'
      name: 'Gas Valve'
      device_class: gas
      state:
        data: [0xB0, 0x41]
      state_open:
        offset: 2
        data: [0x00]
      state_closed:
        offset: 2
        data: [0x01]
      command_close:
        data: [0xAB, 0x78, 0x00]
        ack: [0xB0, 0x78, 0x00]

  light:
    - id: 'light_1'
      name: 'Light 1'
      state:
        data: [0xB0, 0x79, 0x21]
      state_on:
        offset: 3
        data: [0x01]
        mask: [0x01]
      state_off:
        offset: 3
        data: [0x00]
        mask: [0x01]
      command_on:
        data: [0xAC, 0x7A, 0x01, 0x01]
        ack: [0xB0, 0x79, 0x01, 0x01]
      command_off:
        data: [0xAC, 0x7A, 0x01, 0x00]
        ack: [0xB0, 0x79, 0x01, 0x00]

    - id: 'light_2'
      name: 'Light 2'
      state:
        data: [0xB0, 0x79, 0x13]
      state_on:
        offset: 3
        data: [0x02]
        mask: [0x02]
      state_off:
        offset: 3
        data: [0x00]
        mask: [0x02]
      command_on:
        data: [0xAC, 0x7A, 0x03, 0x01]
        ack: [0xB0, 0x79, 0x03, 0x01]
      command_off:
        data: [0xAC, 0x7A, 0x03, 0x00]
        ack: [0xB0, 0x79, 0x03, 0x00]

    - id: 'light_3'
      name: 'Light 3'
      state:
        data: [0xB0, 0x79, 0x14]
      state_on:
        offset: 3
        data: [0x01]
        mask: [0x01]
      state_off:
        offset: 3
        data: [0x00]
        mask: [0x01]
      command_on:
        data: [0xAC, 0x7A, 0x04, 0x01]
        ack: [0xB0, 0x79, 0x04, 0x01]
      command_off:
        data: [0xAC, 0x7A, 0x04, 0x00]
        ack: [0xB0, 0x79, 0x04, 0x00]

    - id: 'light_4'
      name: 'Light 4'
      state:
        data: [0xB0, 0x79, 0x15]
      state_on:
        offset: 3
        data: [0x01]
        mask: [0x01]
      state_off:
        offset: 3
        data: [0x00]
        mask: [0x01]
      command_on:
        data: [0xAC, 0x7A, 0x05, 0x01]
        ack: [0xB0, 0x79, 0x05, 0x01]
      command_off:
        data: [0xAC, 0x7A, 0x05, 0x00]
        ack: [0xB0, 0x79, 0x05, 0x00]

  climate:
    - id: 'room_0_heater'
      name: 'Room 0 Heater'
      packet_defaults:
        rx_checksum: xor
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0xB0, 0x7C, 0x01]
      state_temperature_current:
        offset: 5
        length: 1
      state_temperature_target:
        offset: 4
        length: 1
      state_off:
        offset: 3
        data: [0x00]
        mask: [0x01]
      state_heat:
        offset: 3
        data: [0x01]
        mask: [0x01]
      command_off:
        data: [0xAE, 0x7D, 0x01, 0x00, 0x00, 0x00, 0x00]
        ack: [0xB0, 0x7D, 0x01, 0x00]
      command_heat:
        data: [0xAE, 0x7D, 0x01, 0x01, 0x00, 0x00, 0x00]
        ack: [0xB0, 0x7D, 0x01, 0x01]
      command_temperature: >-
        [[0xAE, 0x7F, 0x01, x, 0x00, 0x00, 0x00],[0xB0, 0x7F, 0x01, x]]
      state_action: >-
        data[3] == 0x00 ? 'off' : (data[4] > data[5] ? 'heating' : 'idle')

    - id: 'room_1_heater'
      name: 'Room 1 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0xB0, 0x7C, 0x02]
      state_temperature_current:
        offset: 5
        length: 1
      state_temperature_target:
        offset: 4
        length: 1
      state_off:
        offset: 3
        data: [0x00]
        mask: [0x01]
      state_heat:
        offset: 3
        data: [0x01]
        mask: [0x01]
      command_off:
        data: [0xAE, 0x7D, 0x02, 0x00, 0x00, 0x00, 0x00]
        ack: [0xB0, 0x7D, 0x02, 0x00]
      command_heat:
        data: [0xAE, 0x7D, 0x02, 0x01, 0x00, 0x00, 0x00]
        ack: [0xB0, 0x7D, 0x02, 0x01]
      command_temperature: >-
        [[0xAE, 0x7F, 0x02, x, 0x00, 0x00, 0x00],[0xB0, 0x7F, 0x02, x]]
      state_action: >-
        data[3] == 0x00 ? 'off' : (data[4] > data[5] ? 'heating' : 'idle')

    - id: 'room_2_heater'
      name: 'Room 2 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0xB0, 0x7C, 0x03]
      state_temperature_current:
        offset: 5
        length: 1
      state_temperature_target:
        offset: 4
        length: 1
      state_off:
        offset: 3
        data: [0x00]
        mask: [0x01]
      state_heat:
        offset: 3
        data: [0x01]
        mask: [0x01]
      command_off:
        data: [0xAE, 0x7D, 0x03, 0x00, 0x00, 0x00, 0x00]
        ack: [0xB0, 0x7D, 0x03, 0x00]
      command_heat:
        data: [0xAE, 0x7D, 0x03, 0x01, 0x00, 0x00, 0x00]
        ack: [0xB0, 0x7D, 0x03, 0x01]
      command_temperature: >-
        [[0xAE, 0x7F, 0x03, x, 0x00, 0x00, 0x00],[0xB0, 0x7F, 0x03, x]]
      state_action: >-
        data[3] == 0x00 ? 'off' : (data[4] > data[5] ? 'heating' : 'idle')

    - id: 'room_3_heater'
      name: 'Room 3 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 40 °C
        temperature_step: 1 °C
      state:
        data: [0xB0, 0x7C, 0x04]
      state_temperature_current:
        offset: 5
        length: 1
      state_temperature_target:
        offset: 4
        length: 1
      state_off:
        offset: 3
        data: [0x00]
        mask: [0x01]
      state_heat:
        offset: 3
        data: [0x01]
        mask: [0x01]
      command_off:
        data: [0xAE, 0x7D, 0x04, 0x00, 0x00, 0x00, 0x00]
        ack: [0xB0, 0x7D, 0x04, 0x00]
      command_heat:
        data: [0xAE, 0x7D, 0x04, 0x01, 0x00, 0x00, 0x00]
        ack: [0xB0, 0x7D, 0x04, 0x01]
      command_temperature: >-
        [[0xAE, 0x7F, 0x04, x, 0x00, 0x00, 0x00],[0xB0, 0x7F, 0x04, x]]
      state_action: >-
        data[3] == 0x00 ? 'off' : (data[4] > data[5] ? 'heating' : 'idle')

  fan:
    - id: 'ventilator'
      name: 'Ventilator'
      state:
        data: [0xB0, 0x4E]
      state_on:
        offset: 4
        data: [0x00]
      state_off:
        offset: 4
        data: [0x01]
      state_speed: >-
        data[2] == 0x03 ? 1 : (data[2] == 0x02 ? 2 : (data[2] == 0x01 ? 3 : 0))
      command_on:
        data: [0xC2, 0x4F, 0x05, 0x00, 0x00]
        ack: [0xB0, 0x4F, 0x05]
      command_off:
        data: [0xC2, 0x4F, 0x06, 0x00, 0x00]
        ack: [0xB0, 0x4F, 0x06]
      command_speed: >-
        [[0xC2, 0x4F, 0x04 - x, 0x00, 0x00],[0xB0, 0x4F, 0x04 - x]]
