homenet_bridge:
  serial:
    baud_rate: 9600
    data_bits: 8
    parity: none # Original was NONE, mapping to none
    stop_bits: 1
  
  packet_defaults:
    rx_timeout: 10ms
    tx_delay: 50ms
    tx_timeout: 500ms
    tx_retry_cnt: 3
    rx_header: [0xF7]
    tx_header: [0xF7]
    rx_footer: [0xAA]
    tx_footer: [0xAA]
    rx_checksum: add_no_header
    tx_checksum: add_no_header

  devices:
    - name: "CVNet Wallpad"
      entities:
        - type: light
          id: "light_1"
          name: "Room 0 Light 1"
          state:
            data: [0x20, 0x01, 0x21]
          state_on:
            offset: 4
            data: [0x01]
          state_off:
            offset: 4
            data: [0x00]
          command_on:
            cmd: [0x20, 0x21, 0x01, 0x11, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x21, 0x9F]
          command_off:
            cmd: [0x20, 0x21, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x21, 0x9F]
        - type: light
          id: "light_2"
          name: "Room 0 Light 2"
          state:
            data: [0x20, 0x01, 0x21]
          state_on:
            offset: 5
            data: [0x01]
          state_off:
            offset: 5
            data: [0x00]
          command_on:
            cmd: [0x20, 0x21, 0x01, 0x12, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x21, 0x9F]
          command_off:
            cmd: [0x20, 0x21, 0x01, 0x12, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x21, 0x9F]
        - type: light
          id: "light_3"
          name: "Room 0 Light 3"
          state:
            data: [0x20, 0x01, 0x21]
          state_on:
            offset: 6
            data: [0x01]
          state_off:
            offset: 6
            data: [0x00]
          command_on:
            cmd: [0x20, 0x21, 0x01, 0x13, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x21, 0x9F]
          command_off:
            cmd: [0x20, 0x21, 0x01, 0x13, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x21, 0x9F]
        - type: light
          id: "light_4"
          name: "Room 1 Light 1"
          state:
            data: [0x20, 0x01, 0x22]
          state_on:
            offset: 4
            data: [0x01]
          state_off:
            offset: 4
            data: [0x00]
          command_on:
            cmd: [0x20, 0x22, 0x01, 0x11, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x22, 0x9F]
          command_off:
            cmd: [0x20, 0x22, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x22, 0x9F]

        - type: fan
          id: "fan_1"
          name: "Fan 1"
          state:
            data: [0x20, 0x01, 0x71]
          state_on:
            offset: 4
            data: [0x01]
          state_off:
            offset: 4
            data: [0x00]
          command_on:
            cmd: [0x20, 0x71, 0x01, 0x11, 0x01, 0x01, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x71, 0x91]
          command_off:
            cmd: [0x20, 0x71, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x71, 0x91]
          command_speed:
            cmd: [0x20, 0x71, 0x01, 0x11, 0x01, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00] # Placeholder for speed, actual value needs to be inserted
            value_offset: 6 # Speed value goes here
            ack: [0x20, 0x01, 0x71, 0x91]
          state_speed:
            offset: 6
            signed: False

        - type: valve
          id: "gas_valve"
          name: "Gas Valve"
          state:
            data: [0x20, 0x01, 0x11]
          state_closed:
            offset: 4
            data: [0x00]
          state_open:
            offset: 4
            data: [0x01]
          command_close:
            cmd: [0x20, 0x11, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x11, 0x91]

        - type: climate
          id: "heater_1"
          name: "Heater 1"
          visual:
            min_temperature: 6
            max_temperature: 30
            temperature_step: 1
          state:
            data: [0x20, 0x01, 0x4A]
          state_temperature_current:
            offset: 5
            length: 1
            precision: 0 # Assuming 0 precision for raw byte
          state_temperature_target:
            # Original was lambda: return ((uint8_t)data[4] & 0x7F);
            offset: 4
            length: 1
            mask: 0x7F # Mask to get the temperature value
            precision: 0
          state_off:
            offset: 4
            data: [0x00]
            mask: 0x80
          state_heat:
            offset: 4
            data: [0x80]
            mask: 0x80
          command_off:
            cmd: [0x20, 0x41, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00] # Placeholder for target temp
            value_offset: 4 # Target temperature goes here
            ack: [0x20, 0x01, 0x41, 0x91]
          command_heat:
            cmd: [0x20, 0x41, 0x01, 0x11, 0x80, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00] # Placeholder for target temp
            value_offset: 4 # Target temperature goes here, with 0x80 added
            ack: [0x20, 0x01, 0x41, 0x91]
          command_temperature:
            cmd: [0x20, 0x41, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00] # Placeholder for target temp
            value_offset: 4 # Target temperature goes here, with 0x80 added
            value_encode: none # Assuming raw value + 0x80
            ack: [0x20, 0x01, 0x41, 0x91]
        - type: climate
          id: "heater_2"
          name: "Heater 2"
          visual:
            min_temperature: 6
            max_temperature: 30
            temperature_step: 1
          state:
            data: [0x20, 0x01, 0x4A]
          state_temperature_current:
            offset: 7
            length: 1
            precision: 0
          state_temperature_target:
            offset: 6
            length: 1
            mask: 0x7F
            precision: 0
          state_off:
            offset: 6
            data: [0x00]
            mask: 0x80
          state_heat:
            offset: 6
            data: [0x80]
            mask: 0x80
          command_off:
            cmd: [0x20, 0x42, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            value_offset: 4
            ack: [0x20, 0x01, 0x42, 0x91]
          command_heat:
            cmd: [0x20, 0x42, 0x01, 0x11, 0x80, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            value_offset: 4
            ack: [0x20, 0x01, 0x42, 0x91]
          command_temperature:
            cmd: [0x20, 0x42, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            value_offset: 4
            value_encode: none
            ack: [0x20, 0x01, 0x42, 0x91]
        - type: climate
          id: "heater_3"
          name: "Heater 3"
          visual:
            min_temperature: 6
            max_temperature: 30
            temperature_step: 1
          state:
            data: [0x20, 0x01, 0x4A]
          state_temperature_current:
            offset: 9
            length: 1
            precision: 0
          state_temperature_target:
            offset: 8
            length: 1
            mask: 0x7F
            precision: 0
          state_off:
            offset: 8
            data: [0x00]
            mask: 0x80
          state_heat:
            offset: 8
            data: [0x80]
            mask: 0x80
          command_off:
            cmd: [0x20, 0x43, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            value_offset: 4
            ack: [0x20, 0x01, 0x43, 0x91]
          command_heat:
            cmd: [0x20, 0x43, 0x01, 0x11, 0x80, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            value_offset: 4
            ack: [0x20, 0x01, 0x43, 0x91]
          command_temperature:
            cmd: [0x20, 0x43, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            value_offset: 4
            value_encode: none
            ack: [0x20, 0x01, 0x43, 0x91]
        - type: climate
          id: "heater_4"
          name: "Heater 4"
          visual:
            min_temperature: 6
            max_temperature: 30
            temperature_step: 1
          state:
            data: [0x20, 0x01, 0x4A]
          state_temperature_current:
            offset: 11
            length: 1
            precision: 0
          state_temperature_target:
            offset: 10
            length: 1
            mask: 0x7F
            precision: 0
          state_off:
            offset: 10
            data: [0x00]
            mask: 0x80
          state_heat:
            offset: 10
            data: [0x80]
            mask: 0x80
          command_off:
            cmd: [0x20, 0x44, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            value_offset: 4
            ack: [0x20, 0x01, 0x44, 0x91]
          command_heat:
            cmd: [0x20, 0x44, 0x01, 0x11, 0x80, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            value_offset: 4
            ack: [0x20, 0x01, 0x44, 0x91]
          command_temperature:
            cmd: [0x20, 0x44, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            value_offset: 4
            value_encode: none
            ack: [0x20, 0x01, 0x44, 0x91]

        - type: sensor
          id: "elevator_floor"
          name: "Elevator Floors"
          state:
            data: [0x20, 0x01, 0x22, 0x81]
          state_number:
            offset: 4
            length: 1
            precision: 0 # Assuming 0 precision for raw byte

        - type: button
          id: "elevator_call"
          name: "Elevator Call"
          command_press:
            cmd: [0x20, 0x01, 0x81, 0x81, 0x02, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: []
