homenet_bridge:
  serial:
    baud_rate: 9600
    data_bits: 8
    parity: NONE
    stop_bits: 1

  packet_defaults: # New section for global packet defaults
    rx_timeout: 10ms
    tx_delay: 50ms
    tx_timeout: 500ms
    tx_retry_cnt: 3

    rx_header: [0xF7]
    tx_header: [0xF7]
    rx_footer: [0xAA]
    tx_footer: [0xAA]
    rx_checksum: add_no_header
    tx_checksum: add_no_header

  light:
    - name: 'Room 0 Light 1'
      state:
        data: [0x20, 0x01, 0x21]
      state_on:
        offset: 4
        data: [0x01]
      state_off:
        offset: 4
        data: [0x00]
      command_on:
        data: [0x20, 0x21, 0x01, 0x11, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x21, 0x9F]
      command_off:
        data: [0x20, 0x21, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x21, 0x9F]

    - name: 'Room 0 Light 2'
      state:
        data: [0x20, 0x01, 0x21]
      state_on:
        offset: 5
        data: [0x01]
      state_off:
        offset: 5
        data: [0x00]
      command_on:
        data: [0x20, 0x21, 0x01, 0x12, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x21, 0x9F]
      command_off:
        data: [0x20, 0x21, 0x01, 0x12, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x21, 0x9F]

    - name: 'Room 0 Light 3'
      state:
        data: [0x20, 0x01, 0x21]
      state_on:
        offset: 6
        data: [0x01]
      state_off:
        offset: 6
        data: [0x00]
      command_on:
        data: [0x20, 0x21, 0x01, 0x13, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x21, 0x9F]
      command_off:
        data: [0x20, 0x21, 0x01, 0x13, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x21, 0x9F]

    - name: 'Room 1 Light 1'
      state:
        data: [0x20, 0x01, 0x22]
      state_on:
        offset: 4
        data: [0x01]
      state_off:
        offset: 4
        data: [0x00]
      command_on:
        data: [0x20, 0x22, 0x01, 0x11, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x22, 0x9F]
      command_off:
        data: [0x20, 0x22, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x22, 0x9F]

  fan:
    - name: 'Fan 1'
      state:
        data: [0x20, 0x01, 0x71]
      state_on:
        offset: 4
        data: [0x01]
      state_off:
        offset: 4
        data: [0x00]
      command_on:
        data: [0x20, 0x71, 0x01, 0x11, 0x01, 0x01, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x71, 0x91]
      command_off:
        data: [0x20, 0x71, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x71, 0x91]
      command_speed: !homenet_logic
        type: command_lambda
        valueSource:
          type: input
        packetTemplates:
          - data: [0x20, 0x71, 0x01, 0x11, 0x01, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x71, 0x91]
            valueOffset: 6 # speed goes here
            valueEncode: none
            length: 1
            signed: false
            endian: big
      state_speed:
        offset: 6
        signed: False

  valve:
    - name: 'Gas Valve'
      device_class: gas
      state:
        data: [0x20, 0x01, 0x11]
      state_closed:
        offset: 4
        data: [0x00]
      state_open:
        offset: 4
        data: [0x01]
      command_close:
        data: [0x20, 0x11, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
        ack: [0x20, 0x01, 0x11, 0x91]

  climate:
    - name: 'Heater 1'
      visual:
        min_temperature: 6 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x20, 0x01, 0x4A]
      state_temperature_current:
        offset: 5
      state_temperature_target: !homenet_logic
        type: state_lambda
        extractor:
          type: value_extractor
          offset: 4
          mask: 0x7F
      state_off:
        offset: 4
        data: [0x00]
        mask: [0x80]
      state_heat:
        offset: 4
        data: [0x80]
        mask: [0x80]
      command_off: !homenet_logic
        type: command_lambda
        valueSource:
          type: entity_state
          entityId: heater_1
          property: target_temperature
        packetTemplates:
          - data: [0x20, 0x41, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x41, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: none
            length: 1
            signed: false
            endian: big
      command_heat: !homenet_logic
        type: command_lambda
        valueSource:
          type: entity_state
          entityId: heater_1
          property: target_temperature
        packetTemplates:
          - data: [0x20, 0x41, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x41, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: add_0x80
            length: 1
            signed: false
            endian: big
      command_temperature: !homenet_logic
        type: command_lambda
        valueSource:
          type: input
        packetTemplates:
          - data: [0x20, 0x41, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x41, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: add_0x80
            length: 1
            signed: false
            endian: big

    - name: 'Heater 2'
      visual:
        min_temperature: 6 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x20, 0x01, 0x4A]
      state_temperature_current:
        offset: 7
      state_temperature_target: !homenet_logic
        type: state_lambda
        extractor:
          type: value_extractor
          offset: 6
          mask: 0x7F
      state_off:
        offset: 6
        data: [0x00]
        mask: [0x80]
      state_heat:
        offset: 6
        data: [0x80]
        mask: [0x80]
      command_off: !homenet_logic
        type: command_lambda
        valueSource:
          type: entity_state
          entityId: heater_2
          property: target_temperature
        packetTemplates:
          - data: [0x20, 0x42, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x42, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: none
            length: 1
            signed: false
            endian: big
      command_heat: !homenet_logic
        type: command_lambda
        valueSource:
          type: entity_state
          entityId: heater_2
          property: target_temperature
        packetTemplates:
          - data: [0x20, 0x42, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x42, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: add_0x80
            length: 1
            signed: false
            endian: big
      command_temperature: !homenet_logic
        type: command_lambda
        valueSource:
          type: input
        packetTemplates:
          - data: [0x20, 0x42, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x42, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: add_0x80
            length: 1
            signed: false
            endian: big

    - name: 'Heater 3'
      visual:
        min_temperature: 6 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x20, 0x01, 0x4A]
      state_temperature_current:
        offset: 9
      state_temperature_target: !homenet_logic
        type: state_lambda
        extractor:
          type: value_extractor
          offset: 8
          mask: 0x7F
      state_off:
        offset: 8
        data: [0x00]
        mask: [0x80]
      state_heat:
        offset: 8
        data: [0x80]
        mask: [0x80]
      command_off: !homenet_logic
        type: command_lambda
        valueSource:
          type: entity_state
          entityId: heater_3
          property: target_temperature
        packetTemplates:
          - data: [0x20, 0x43, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x43, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: none
            length: 1
            signed: false
            endian: big
      command_heat: !homenet_logic
        type: command_lambda
        valueSource:
          type: entity_state
          entityId: heater_3
          property: target_temperature
        packetTemplates:
          - data: [0x20, 0x43, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x43, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: add_0x80
            length: 1
            signed: false
            endian: big
      command_temperature: !homenet_logic
        type: command_lambda
        valueSource:
          type: input
        packetTemplates:
          - data: [0x20, 0x43, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x43, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: add_0x80
            length: 1
            signed: false
            endian: big

    - name: 'Heater 4'
      visual:
        min_temperature: 6 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x20, 0x01, 0x4A]
      state_temperature_current:
        offset: 11
      state_temperature_target: !homenet_logic
        type: state_lambda
        extractor:
          type: value_extractor
          offset: 10
          mask: 0x7F
      state_off:
        offset: 10
        data: [0x00]
        mask: [0x80]
      state_heat:
        offset: 10
        data: [0x80]
        mask: [0x80]
      command_off: !homenet_logic
        type: command_lambda
        valueSource:
          type: entity_state
          entityId: heater_4
          property: target_temperature
        packetTemplates:
          - data: [0x20, 0x44, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x44, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: none
            length: 1
            signed: false
            endian: big
      command_heat: !homenet_logic
        type: command_lambda
        valueSource:
          type: entity_state
          entityId: heater_4
          property: target_temperature
        packetTemplates:
          - data: [0x20, 0x44, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x44, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: add_0x80
            length: 1
            signed: false
            endian: big
      command_temperature: !homenet_logic
        type: command_lambda
        valueSource:
          type: input
        packetTemplates:
          - data: [0x20, 0x44, 0x01, 0x11, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            ack: [0x20, 0x01, 0x44, 0x91]
            valueOffset: 4 # target goes here
            valueEncode: add_0x80
            length: 1
            signed: false
            endian: big

  sensor:
    - name: 'Elevator Floors'
      icon: 'mdi:elevator'
      state:
        data: [0x20, 0x01, 0x22, 0x81]
      state_number:
        offset: 4

  button:
    - name: 'Elevator Call'
      icon: 'mdi:elevator'
      command_on:
        data: [0x20, 0x01, 0x81, 0x81, 0x02, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
