homenet_bridge:
  serial:
    baud_rate: 9600
    data_bits: 8
    parity: none
    stop_bits: 1
  
  packet_defaults:
    rx_timeout: 10ms
    tx_delay: 50ms
    tx_timeout: 500ms
    tx_retry_cnt: 3
    rx_header: [0xf7]
    tx_header: [0xf7]
    rx_footer: [0xee]
    tx_footer: [0xee]
    rx_checksum: xor
    tx_checksum: xor

  devices:
    - name: "Hyundai Imazu Wallpad"
      entities:
        - type: sensor
          id: "room_1_plug_1_power"
          name: "Room 1 Plug 1 Power"
          state:
            data: [0x12, 0x01, 0x1f, 0x04, 0x40, 0x11]
          state_number:
            offset: 8
            length: 2
            precision: 0
        - type: sensor
          id: "room_1_plug_2_power"
          name: "Room 1 Plug 2 Power"
          state:
            data: [0x12, 0x01, 0x1f, 0x04, 0x40, 0x12]
          state_number:
            offset: 8
            length: 2
            precision: 0
        - type: sensor
          id: "room_2_plug_1_power"
          name: "Room 2 Plug 1 Power"
          state:
            data: [0x12, 0x01, 0x1f, 0x04, 0x40, 0x21]
          state_number:
            offset: 8
            length: 2
            precision: 0
        - type: sensor
          id: "room_2_plug_2_power"
          name: "Room 2 Plug 2 Power"
          state:
            data: [0x12, 0x01, 0x1f, 0x04, 0x40, 0x22]
          state_number:
            offset: 8
            length: 2
            precision: 0

        - type: switch
          id: "room_1_plug_1"
          name: "Room 1 Plug 1"
          state:
            data: [0x00, 0x01, 0x1f, 0x04, 0x40, 0x11]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x11, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x11, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x11, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x11, 0x02, 0x02]
        - type: switch
          id: "room_1_plug_2"
          name: "Room 1 Plug 2"
          state:
            data: [0x00, 0x01, 0x1f, 0x04, 0x40, 0x12]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x12, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x12, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x12, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x12, 0x02, 0x02]
        - type: switch
          id: "room_2_plug_1"
          name: "Room 2 Plug 1"
          state:
            data: [0x00, 0x01, 0x1F, 0x04, 0x40, 0x21]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x21, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x21, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x21, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x21, 0x02, 0x02]
        - type: switch
          id: "room_2_plug_2"
          name: "Room 2 Plug 2"
          state:
            data: [0x00, 0x01, 0x1F, 0x04, 0x40, 0x22]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x22, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x22, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x1f, 0x02, 0x40, 0x22, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x1f, 0x04, 0x40, 0x22, 0x02, 0x02]

        - type: light
          id: "room_1_light_1"
          name: "Room 1 Light 1"
          state:
            data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x11]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x11, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x11, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x11, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x11, 0x02, 0x02]
        - type: light
          id: "room_1_light_2"
          name: "Room 1 Light 2"
          state:
            data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x12]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x12, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x12, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x12, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x12, 0x02, 0x02]
        - type: light
          id: "room_1_light_3"
          name: "Room 1 Light 3"
          state:
            data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x13]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x13, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x13, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x13, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x13, 0x02, 0x02]
        - type: light
          id: "room_1_light_4"
          name: "Room 1 Light 4"
          state:
            data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x14]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x14, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x14, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x14, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x14, 0x02, 0x02]
        - type: light
          id: "room_2_light_1"
          name: "Room 2 Light 1"
          state:
            data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x21]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x21, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x21, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x21, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x21, 0x02, 0x02]
        - type: light
          id: "room_2_light_2"
          name: "Room 2 Light 2"
          state:
            data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x22]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x22, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x22, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x22, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x22, 0x02, 0x02]
        - type: light
          id: "room_2_light_3"
          name: "Room 2 Light 3"
          state:
            data: [0x00, 0x01, 0x19, 0x04, 0x40, 0x23]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x23, 0x01, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x23, 0x01, 0x01]
          command_off:
            cmd: [0x0b, 0x01, 0x19, 0x02, 0x40, 0x23, 0x02, 0x00]
            ack: [0x0b, 0x01, 0x19, 0x04, 0x40, 0x23, 0x02, 0x02]

        - type: fan
          id: "room_1_fan_1"
          name: "Room 1 Fan 1"
          state:
            data: [0x00, 0x01, 0x2b, 0x04, 0x40, 0x11]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_on:
            offset: 7
            data: [0x01]
          state_off:
            offset: 7
            data: [0x02]
          command_on:
            cmd: [0x0b, 0x01, 0x2b, 0x02, 0x40, 0x11, 0x01, 0x00]
            ack: [0x0c, 0x01, 0x2b, 0x04, 0x40, 0x11, 0x01, 0x01, 0x07]
          command_off:
            cmd: [0x0b, 0x01, 0x2b, 0x02, 0x40, 0x11, 0x02, 0x00]
            ack: [0x0c, 0x01, 0x2b, 0x04, 0x40, 0x11, 0x02, 0x02, 0x00]
          command_speed:
            # Original lambda: uint8_t speed = x; if (speed == 3) return { {0x0b, 0x01, 0x2b, 0x02, 0x40, 0x11, 0x01, 0x00}, {0x0c, 0x01, 0x2b, 0x04, 0x40, 0x11, 0x01, 0x01, 0x07} }; ...
            # This requires custom logic to map speed to specific commands.
            # For now, representing as a placeholder.
            cmd: [] # Needs to be dynamically generated based on speed
            ack: [] # Needs to be dynamically generated based on speed
          state_speed:
            # Original lambda: if (check_value(8, 0x01, data, len)) return 1; ...
            # This requires custom logic to map state to speed.
            offset: 8 # Assuming speed is at offset 8
            length: 1
            precision: 0

        - type: climate
          id: "room_1_heater_1"
          name: "Room 1 Heater 1"
          visual:
            min_temperature: 5
            max_temperature: 40
            temperature_step: 1
          state:
            data: [0x00, 0x01, 0x18, 0x04, 0x45, 0x11]
            mask: [0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
          state_temperature_current:
            offset: 8
            length: 1
            precision: 0
          state_temperature_target:
            offset: 9
            length: 1
            precision: 0
          state_off:
            offset: 7
            data: [0x04]
          state_heat:
            offset: 7
            data: [0x01]
          state_preset_away:
            offset: 7
            data: [0x07]
          state_preset_none:
            offset: 7
            data: [0x07]
            inverted: True
          command_off:
            cmd: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x04, 0x00]
            ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x04, 0x04]
          command_heat:
            cmd: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x01, 0x00]
            ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x01, 0x01]
          command_preset_away:
            cmd: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x07, 0x00]
            ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x07, 0x07]
          command_preset_none:
            # Original command_preset_none is missing in the provided YAML.
            # Assuming it's similar to command_heat but with different data.
            cmd: [0x0B, 0x01, 0x18, 0x02, 0x46, 0x11, 0x00, 0x00] # Placeholder
            ack: [0x0D, 0x01, 0x18, 0x04, 0x46, 0x11, 0x00, 0x00] # Placeholder
          command_temperature:
            # Original lambda: uint8_t target = (uint8_t)x + (((uint8_t)(x * 10) % 10) > 0 ? 0x80 : 0x00); return {{0x36, 0x11, 0x44, 0x01, target},{0x36, 0x11, 0xc4}};
            cmd: [0x0B, 0x01, 0x18, 0x02, 0x45, 0x11, 0x00, 0x00] # Placeholder for target
            value_offset: 7 # Target temperature goes here
            value_encode: none # Needs custom encoding logic
            ack: [0x0D, 0x01, 0x18, 0x04, 0x45, 0x11, 0x00, 0x00] # Placeholder
