homenet_bridge:
  serial:
    baud_rate: 9600
    data_bits: 8
    parity: NONE
    stop_bits: 1

  packet_defaults: # New section for global packet defaults
    rx_timeout: 10ms
    rx_length: 21
    tx_delay: 500ms
    tx_timeout: 1s
    tx_retry_cnt: 3

    rx_header: [0xAA, 0x55]
    rx_footer: [0x0D, 0x0D]
    tx_header: [0xAA, 0x55]
    tx_footer: [0x0D, 0x0D]

    rx_checksum: add_no_header
    tx_checksum: add_no_header

  light:
    - name: 'Livingroom Light 1'
      state:
        data: [0x30, 0xd0, 0x00, 0x0e, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_on:
        offset: 8
        data: [0xff]
      state_off:
        offset: 8
        data: [0x00]
      command_on: !lambda |-
        uint8_t light1 = 0xff;
        uint8_t light2 = id(livingroom_light_2).current_values.is_on() ? 0xff : 0x00;
        uint8_t light3 = id(livingroom_light_3).current_values.is_on() ? 0xff : 0x00;
        return {{0x30, 0xbc, 0x00, 0x0e, 0x00, 0x01, 0x00, 0x00, light1, light2, light3, 0x00, 0x00, 0x00, 0x00, 0x00}, {0x30, 0xdc, 0x00, 0x0e, 0x00}};
      command_off: !lambda |-
        uint8_t light1 = 0x00;
        uint8_t light2 = id(livingroom_light_2).current_values.is_on() ? 0xff : 0x00;
        uint8_t light3 = id(livingroom_light_3).current_values.is_on() ? 0xff : 0x00;
        return {{0x30, 0xbc, 0x00, 0x0e, 0x00, 0x01, 0x00, 0x00, light1, light2, light3, 0x00, 0x00, 0x00, 0x00, 0x00}, {0x30, 0xdc, 0x00, 0x0e, 0x00}};
      command_update:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x0e,
            0x00,
            0x01,
            0x00,
            0x3a,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc, 0x00, 0x0e, 0x00]
      update_interval: 2h

    - name: 'Livingroom Light 2'
      state:
        data: [0x30, 0xd0, 0x00, 0x0e, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_on:
        offset: 9
        data: [0xff]
      state_off:
        offset: 9
        data: [0x00]
      command_on: !lambda |-
        uint8_t light1 = id(livingroom_light_1).current_values.is_on() ? 0xff : 0x00;
        uint8_t light2 = 0xff;
        uint8_t light3 = id(livingroom_light_3).current_values.is_on() ? 0xff : 0x00;
        return {{0x30, 0xbc, 0x00, 0x0e, 0x00, 0x01, 0x00, 0x00, light1, light2, light3, 0x00, 0x00, 0x00, 0x00, 0x00}, {0x30, 0xdc, 0x00, 0x0e, 0x00}};
      command_off: !lambda |-
        uint8_t light1 = id(livingroom_light_1).current_values.is_on() ? 0xff : 0x00;
        uint8_t light2 = 0x00;
        uint8_t light3 = id(livingroom_light_3).current_values.is_on() ? 0xff : 0x00;
        return {{0x30, 0xbc, 0x00, 0x0e, 0x00, 0x01, 0x00, 0x00, light1, light2, light3, 0x00, 0x00, 0x00, 0x00, 0x00}, {0x30, 0xdc, 0x00, 0x0e, 0x00}};

    - name: 'Livingroom Light 3'
      state:
        data: [0x30, 0xd0, 0x00, 0x0e, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_on:
        offset: 10
        data: [0xff]
      state_off:
        offset: 10
        data: [0x00]
      command_on: !lambda |-
        uint8_t light1 = id(livingroom_light_1).current_values.is_on() ? 0xff : 0x00;
        uint8_t light2 = id(livingroom_light_2).current_values.is_on() ? 0xff : 0x00;
        uint8_t light3 = 0xff;
        return {{0x30, 0xbc, 0x00, 0x0e, 0x00, 0x01, 0x00, 0x00, light1, light2, light3, 0x00, 0x00, 0x00, 0x00, 0x00}, {0x30, 0xdc, 0x00, 0x0e, 0x00}};
      command_off: !lambda |-
        uint8_t light1 = id(livingroom_light_1).current_values.is_on() ? 0xff : 0x00;
        uint8_t light2 = id(livingroom_light_2).current_values.is_on() ? 0xff : 0x00;
        uint8_t light3 = 0x00;
        return {{0x30, 0xbc, 0x00, 0x0e, 0x00, 0x01, 0x00, 0x00, light1, light2, light3, 0x00, 0x00, 0x00, 0x00, 0x00}, {0x30, 0xdc, 0x00, 0x0e, 0x00}};

  climate:
    - name: 'Livingroom Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 12
      state_temperature_target:
        offset: 10
      state_off:
        offset: 8
        data: [0x00]
        mask: [0xf0]
      state_heat:
        offset: 8
        data: [0x10]
        mask: [0xf0]
      state_preset_away:
        offset: 9
        data: [0x01]
      state_preset_none:
        offset: 9
        data: [0x00]
      command_off: !lambda |-
        return {{0x30, 0xbc, 0x00, 0x36, 0x00, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x00}};
      command_heat: !lambda |-
        uint8_t target = id(livingroom_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x00, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x00}};
      command_preset_none: !lambda |-
        if (id(livingroom_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = id(livingroom_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x00, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x00}};
      command_preset_away: !lambda |-
        if (id(livingroom_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = id(livingroom_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x00, 0x01, 0x00, 0x00, 0x11, 0x01, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x00}};
      command_temperature: !lambda |-
        if (id(livingroom_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = x;
        return {{0x30, 0xbc, 0x00, 0x36, 0x00, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x00}};
      command_update:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x36,
            0x00,
            0x01,
            0x00,
            0x3a,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc, 0x00, 0x36, 0x00]
      update_interval: 2h

    - name: 'Bedroom Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x01]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 12
        length: 1
        precision: 0
      state_temperature_target:
        offset: 10
        length: 1
        precision: 0
      state_off:
        offset: 8
        data: [0x00]
        mask: [0xf0]
      state_heat:
        offset: 8
        data: [0x10]
        mask: [0xf0]
      state_preset_away:
        offset: 9
        data: [0x01]
      state_preset_none:
        offset: 9
        data: [0x00]
      command_off: !lambda |-
        return {{0x30, 0xbc, 0x00, 0x36, 0x01, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x01}};
      command_heat: !lambda |-
        uint8_t target = id(bedroom_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x01, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x01}};
      command_preset_none: !lambda |-
        if (id(bedroom_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = id(bedroom_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x01, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x01}};
      command_preset_away: !lambda |-
        if (id(bedroom_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = id(bedroom_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x01, 0x01, 0x00, 0x00, 0x11, 0x01, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x01}};
      command_temperature: !lambda |-
        if (id(bedroom_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = x;
        return {{0x30, 0xbc, 0x00, 0x36, 0x01, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x01}};
      command_update:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x36,
            0x01,
            0x01,
            0x00,
            0x3a,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc, 0x00, 0x36, 0x01]
      update_interval: 2h

    - name: 'Room 1 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x02]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 12
      state_temperature_target:
        offset: 10
      state_off:
        offset: 8
        data: [0x00]
        mask: [0xf0]
      state_heat:
        offset: 8
        data: [0x10]
        mask: [0xf0]
      state_preset_away:
        offset: 9
        data: [0x01]
      state_preset_none:
        offset: 9
        data: [0x00]
      command_off: !lambda |-
        return {{0x30, 0xbc, 0x00, 0x36, 0x02, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x02}};
      command_heat: !lambda |-
        uint8_t target = id(room_1_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x02, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x02}};
      command_preset_none: !lambda |-
        if (id(room_1_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = id(room_1_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x02, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x02}};
      command_preset_away: !lambda |-
        if (id(room_1_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = id(room_1_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x02, 0x01, 0x00, 0x00, 0x11, 0x01, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x02}};
      command_temperature: !lambda |-
        if (id(room_1_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = x;
        return {{0x30, 0xbc, 0x00, 0x36, 0x02, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x02}};
      command_update:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x36,
            0x02,
            0x01,
            0x00,
            0x3a,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc, 0x00, 0x36, 0x02]
      update_interval: 2h

    - name: 'Room 2 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x03]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 12
      state_temperature_target:
        offset: 10
      state_off:
        offset: 8
        data: [0x00]
        mask: [0xf0]
      state_heat:
        offset: 8
        data: [0x10]
        mask: [0xf0]
      state_preset_away:
        offset: 9
        data: [0x01]
      state_preset_none:
        offset: 9
        data: [0x00]
      command_off: !lambda |-
        return {{0x30, 0xbc, 0x00, 0x36, 0x03, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x03}};
      command_heat: !lambda |-
        uint8_t target = id(room_2_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x03, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x03}};
      command_preset_none: !lambda |-
        if (id(room_2_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = id(room_2_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x03, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x03}};
      command_preset_away: !lambda |-
        if (id(room_2_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = id(room_2_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x03, 0x01, 0x00, 0x00, 0x11, 0x01, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x03}};
      command_temperature: !lambda |-
        if (id(room_2_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = x;
        return {{0x30, 0xbc, 0x00, 0x36, 0x03, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x03}};
      command_update:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x36,
            0x03,
            0x01,
            0x00,
            0x3a,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc, 0x00, 0x36, 0x03]
      update_interval: 2h

    - name: 'Livingroom 2 Heater'
      visual:
        min_temperature: 5 °C
        max_temperature: 30 °C
        temperature_step: 1 °C
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x04]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_temperature_current:
        offset: 12
      state_temperature_target:
        offset: 10
      state_off:
        offset: 8
        data: [0x00]
        mask: [0xf0]
      state_heat:
        offset: 8
        data: [0x10]
        mask: [0xf0]
      state_preset_away:
        offset: 9
        data: [0x01]
      state_preset_none:
        offset: 9
        data: [0x00]
      command_off: !lambda |-
        return {{0x30, 0xbc, 0x00, 0x36, 0x04, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x04}};
      command_heat: !lambda |-
        uint8_t target = id(livingroom_2_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x04, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x04}};
      command_preset_none: !lambda |-
        if (id(livingroom_2_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = id(livingroom_2_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x04, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x04}};
      command_preset_away: !lambda |-
        if (id(livingroom_2_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = id(livingroom_2_heater).target_temperature;
        return {{0x30, 0xbc, 0x00, 0x36, 0x04, 0x01, 0x00, 0x00, 0x11, 0x01, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x04}};
      command_temperature: !lambda |-
        if (id(livingroom_2_heater).mode == climate::CLIMATE_MODE_OFF) return {};
        uint8_t target = x;
        return {{0x30, 0xbc, 0x00, 0x36, 0x04, 0x01, 0x00, 0x00, 0x11, 0x00, target, 0x00, 0x00, 0x00, 0x00, 0x00},{0x30, 0xdc, 0x00, 0x36, 0x04}};
      command_update:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x36,
            0x04,
            0x01,
            0x00,
            0x3a,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc, 0x00, 0x36, 0x04]
      update_interval: 2h

  sensor:
    - name: 'Livingroom Temperature'
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      unit_of_measurement: '°C'
      icon: 'mdi:thermometer'
      device_class: 'temperature'
      state_class: 'measurement'
      state_number:
        offset: 12
    - name: 'Bedroom Temperature'
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x01]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      unit_of_measurement: '°C'
      icon: 'mdi:thermometer'
      device_class: 'temperature'
      state_class: 'measurement'
      state_number:
        offset: 12
    - name: 'Room 1 Temperature'
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x02]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      unit_of_measurement: '°C'
      icon: 'mdi:thermometer'
      device_class: 'temperature'
      state_class: 'measurement'
      state_number:
        offset: 12
    - name: 'Room 2 Temperature'
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x03]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      unit_of_measurement: '°C'
      icon: 'mdi:thermometer'
      device_class: 'temperature'
      state_class: 'measurement'
      state_number:
        offset: 12
    - name: 'Livingroom 2 Temperature'
      state:
        data: [0x30, 0xd0, 0x00, 0x36, 0x04]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      unit_of_measurement: '°C'
      icon: 'mdi:thermometer'
      device_class: 'temperature'
      state_class: 'measurement'
      state_number:
        offset: 12

  lock:
    - name: 'Gas Buner Lock'
      icon: mdi:gas-burner
      state:
        data: [0x30, 0xd0, 0x00, 0x2c, 0x00]
        mask: [0xff, 0xf0, 0xff, 0xff, 0xff]
      state_unlocked:
        offset: 7
        data: [0x01]
      state_locked:
        offset: 7
        data: [0x02]
      command_lock:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x2c,
            0x00,
            0x01,
            0x00,
            0x02,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc, 0x00, 0x2c, 0x00]
      command_update:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x2c,
            0x00,
            0x01,
            0x00,
            0x3a,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc, 0x00, 0x2c, 0x00]
      update_interval: 2h

  text_sensor:
    - name: 'Elevator'
      icon: 'mdi:elevator'
      state:
        data: [0x30, 0x00, 0x00, 0x01, 0x00, 0x44, 0x00]
        mask: [0xff, 0x00, 0xff, 0xff, 0xff, 0xff, 0xff]
      lambda: |-
        if (check_value(8, 0x00, data, len)) return "호출";
        if (check_value(8, 0x03, data, len)) return "도착";
        return "Unknown";

  switch:
    - name: 'Elevator Call'
      icon: 'mdi:elevator'
      optimistic: true
      state_off:
        data: [0x30, 0x00, 0x00, 0x44]
        mask: [0xff, 0x00, 0xff, 0xff]
      command_on:
        data:
          [
            0x30,
            0xbc,
            0x00,
            0x01,
            0x00,
            0x44,
            0x00,
            0x01,
            0x03,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
            0x00,
          ]
        ack: [0x30, 0xdc]
      on_turn_on:
        - lambda: |-
            id(id_elevator_state).publish_state("호출");
