homenet_bridge:
  serial:
    baud_rate: 9600
    data_bits: 8
    parity: EVEN
    stop_bits: 1

  device_config:
    name: 'samsung sds door'

    rx_timeout: 10ms
    tx_delay: 0ms
    tx_timeout: 500ms
    tx_retry_cnt: 3
    rx_header: [0xA4]
    rx_checksum: !lambda |-
      uint8_t crc = 0xA4;
      for (size_t i = 0; i < len; i++)
        crc ^= data[i];
      if (data[0] < 0x7C) crc ^= 0x80;
      return crc;
    tx_checksum: !lambda |-
      uint8_t crc = 0x00;
      for (size_t i = 0; i < len; i++)
        crc ^= data[i];
      crc ^= 0x80;
      return crc;

  binary_sensor:
    - name: 'Bell Private'
      icon: 'mdi:bell-ring'
      state:
        data: [0x30]
        mask: [0xF0]
      state_on:
        data: [0x31, 0x00]
      state_off:
        data: [0x3E, 0x01]
        mask: [0xFF, 0x01]

    - name: 'Bell Public'
      icon: 'mdi:bell-ring'
      state:
        data: [0x30]
        mask: [0xF0]
      state_on:
        data: [0x32, 0x00]
      state_off:
        data: [0x3E, 0x06]
        mask: [0xFF, 0x06]

  text_sensor:
    - name: 'Response'
      internal: True
      lambda: |-
        if (data[0] == 0x5A) 
        {
        id(uartex_id).write_command("init", {0xB0, 0x5A, 0x00}); 
        }
        else if (data[0] == 0x41)
        {
        if (id(door_state) == "D_IDLE") id(uartex_id).write_command("query", {0xB0, 0x41, 0x00}); 
        else if (id(door_state) == "D_CALL" || id(door_state) == "D_CALL_P") 
        {
          uint8_t value = id(door_state) == "D_CALL" ? 0x01 : 0x02;
          id(uartex_id).write_command("query", {0xB0, 0x36, value}); //01현관, 02공동
          id(door_state) = "D_CALLED";
        }
        else if (id(door_state) == "D_OPEN" || id(door_state) == "D_OPEN_P")
        {
          uint8_t value = id(door_state) == "D_OPEN" ? 0x00 : 0x06;
          id(uartex_id).write_command("query", {0xB0, 0x3B, value}); //00현관, 06공동
          id(door_state) = "D_OPENED";
        }
        else id(uartex_id).write_command("query", {0xB0, 0x42, 0x00}); 
        }
        else if (data[0] == 0x42) id(uartex_id).write_command("block", {0xB0, 0x41, 0x00}); 
        else if (data[0] == 0x32) id(uartex_id).write_command("public", {0xB0, 0x32, 0x00}); 
        else if (data[0] == 0x31) id(uartex_id).write_command("private", {0xB0, 0x31, 0x00}); 
        else if (data[0] == 0x36) id(uartex_id).write_command("opena", {0xB0, 0x42, 0x00});
        else if (data[0] == 0x38) id(uartex_id).write_command("vopena", {0xB0, 0x42, 0x00}); 
        else if (data[0] == 0x35) id(uartex_id).write_command("vconna", {0xB0, 0x35, 0x00}); 
        else if (data[0] == 0x3B) id(uartex_id).write_command("open2a", {0xB0, 0x42, 0x00}); 
        else if (data[0] == 0x3E) id(uartex_id).write_command("end", {0xB0, 0x3E, data[1]}); //01현관, 02공동
        return to_hex_string(data, len);

  button:
    - name: 'Call Private'
      icon: 'mdi:phone'

    - name: 'Open Private'
      icon: 'mdi:door-sliding-open'

    - name: 'Call Public'
      icon: 'mdi:phone'

    - name: 'Open Public'
      icon: 'mdi:door-sliding-open'

  switch:
    - name: 'Auto Open Public'
      icon: 'mdi:door-open'

    - name: 'Auto Open Private'
      icon: 'mdi:door-open'
